.item {
    width: 500px;
    height: 5vh;
    border: 1px solid teal;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    margin: 5px 0;
}

.item__context {

}

.item__btn {

}